body{
  overflow-x: hidden;
  background-color: #F9E6F6;
  margin: 0;
  height: 100vh;
  font-family: "Roboto" ;
}
.content{
  display: flex;
  flex-direction: column;

  align-items: center;
}
.hidmous{
  text-align: center;
  margin: 20px;
}
.btm{
  background-color: #A2DCF1;
  font-weight: 200;
  font-size: 2em;
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.bc{
  width: 120px;
  height: 30px;
}
